#boards-container{
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  position :absolute; 
  display: table-row;
  bottom: 25px;
  left: 25px;
}
#boards-display{
display:flex;
flex-direction: row;
}
.board-{
width: 200px;
height: 200px;
}